.app {
    overflow: hidden;
}

.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    line-height: 2.5;
}

.header__navbar-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__navbar-item {
    margin: 0 8px;
    font-size: 13px;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 26px;
    font-weight: 300;
}

.header__navbar-list .header__navbar-item,
.header__navbar-item a {
    color: #fff;
}

.header__navbar-item a {
    text-decoration: none;
}

/* Pesudo gạch thẳng */
.header__navbar-item--separate::after {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    z-index: 1;
    position: absolute;
    border-left: 1px solid #FB8096;
    /* background-color: #fff; */
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link .header__navbar-icon {
    margin: 0 8px;
    font-size: 16px;
}

.header__navbar-item-link {
    display: flex;
    align-items: center;
}

.header__navbar-item-link i {
    margin-right: 4px;
    font-size: 15px;
}

.header__navbar-user-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-right: 4px;
    object-fit: cover;
}